.form {
    margin: 0 auto;
    width: 320px;
    color: #000000;
}
    
.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
  
.button {
    display: flex;
    justify-content: center;
    color: #004f79;
}